<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="http://www.ucweb.com/favicon.ico">
    <title>view - <%= viewName %></title>
    <link rel="stylesheet" type="text/css" href="<%= viewName %>.less">
</head>
<body>
    <!-- Components here -->
    {{{unit name="cmpname"}}}
    <!-- Components end -->
    <script type="text/javascript">
    window.__data = __BACKEND_DATA__;
    </script>
    <script type="text/javascript" src="<%= viewName %>.js"></script>
</body>
</html>
